/***********
COLORS
***********/

$light-blue: #328fc2;
$dark-blue: #006899;

$dark-green: #bbd8c4;
$med-green: #ddebe1;
$light-green: #eef5f0;

$purple: #650360;

$tab-active: #f5f5f5;
$tab-inactive: #ddebe1;
$tab-stroke: #cccccc;

$body-copy: #505050;
$form-label-color: #505050;

$modal-bg-color: #ffffff;

$footer-bg-color: #e7e8e9;