/***********
TYPOGRAPHY
***********/

$font-nav: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-body: "Helvetica Neue",Helvetica,Arial,sans-serif;

$font-body-size: 1.1666666666666665em;
$font-h1-size: 3em;
$font-h2-size: 1.3333333333333333em;
$font-rate-header-size: 2.333333333333333em;
$font-rate-header-top: 1.5em;
$font-rate-header-lower: 1.3333333333333333em;
$font-h1-modal-size: 2.333333333333333em;
$font-form-label-size: 1.1666666666666665em;