/***********
LAYOUTS
***********/

$max-content-width: 941px;
$max-modal-width: 450px;
$logo-width:16.666666666666664%;
$nav-width:83.33333333333334%;
$left-col-width: 74.49521785334751%;
$right-col-width: 23.59192348565356%;